@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  20% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadein-right {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  20% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadein-top {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  20% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  20% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-100%, 0);
  }
  80% {
    transform: translate(-100%, 0);
  }
  85% {
    transform: translate(-100%, 0.5rem);
  }
  90% {
    transform: translate(-100%, 0);
  }
  95% {
    transform: translate(-100%, 0.5rem);
  }
  100% {
    transform: translate(-100%, 0rem);
  }
}

@keyframes slidein-left {
  0% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidein-bottom {
  0% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
